.work {
    padding-bottom: 94px;
}

.work-case {
    display: flex;
    gap: 30px;
}

.work-case-card {
    position: relative;
}

.work-overlay-style {
    position: absolute;
    @extend %align;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
}

.work-overlay {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--logo-color-third);
}