.page-address {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.adress-icon-envelope {
    width: 16px;
    height: 12px;
}

.adress-icon-smartphone {
    width: 10px;
    height: 16px;
}

.main-nav-link-address {
    display: flex;
    align-items: center;
    fill: currentColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    padding-bottom: 32px;
    padding-top: 32px;
    position: relative;
    transition: color var(--cubic);

    .page-address & {
        color: var(--text-color-link);
        gap: 10px;
    }

    &:hover,
    &:focus {
        color: var(--text-color-hover);
    }
}